<div
  class="flex flex-col lg:flex-row gap-y-3 gap-x-5 lg:mt-4 md:mt-4 items-center p-2">
  <picture class="transition duration-500 ease-in-out hover:scale-105 lg:w-1/2">
    <slot name="imagen" />
  </picture>
  <div class="flex flex-col lg:w-1/2">
    <slot />
  </div>
</div>
