<div class="flex gap-x-5 mt-4 items-center">
  <picture class="transition duration-500 ease-in-out hover:scale-105 w-1/2">
    <slot name="imagen" />
  </picture>
  <div class="w-1/2 flex flex-col">
    <slot />
  </div>
</div>
