---
//icon
import AvatarIcon from "../icons/Avatar.astro";
---

<article id="SobreMi" class="flex justify-center items-center mt-14 pb-14 px-5">
  <section class="md:w-[650px] lg:w-[950px] flex flex-col">
    <h2 class="flex gap-3 font-bold text-3xl p-3">
      <AvatarIcon class="size-10" /> Sobre Mí
    </h2>
    <div class="flex mt-4 flex-col lg:flex-row p-2">
      <p class="lg:w-2/3 text-lg text-pretty order-2 lg:order-1">
        Estudiante del 9no ciclo de la carrera de Ingeniería de Sistemas e
        informática, perteneciente al quinto superior. Soy joven trabajador,
        responsable, dedicado y puntual que sabe trabajar en equipo y bajo
        presión. <br />
        Tengo conocimientos en la creación y gestión de Base de Datos relacionales.
        Asimismo, tengo un manejo básico en el análisis de datos utilizando Pandas
        y Matplotlib. <br />
        Deseo encontrar una oportunidad para adquirir más experiencia profesional
        y contribuir en proyectos que desafíen mis habilidades y me permitan crecer
        como profesional.
      </p>
      <picture class="lg:w-1/3 flex justify-center order-1 mb-4 lg:order-2">
        <img
          class="size-60 rounded-full"
          src="https://media.licdn.com/dms/image/D4E03AQHSWVFQVfQB9Q/profile-displayphoto-shrink_800_800/0/1707785032741?e=1714003200&v=beta&t=R71JmSMaMuUYNW-rn-b5UOBsaZsmTu9Dj0XjG-1K-rs"
          alt=""
        />
      </picture>
    </div>
  </section>
</article>
